div,img{
	width:100%;
	text-align:center;/*只是针对单行和图片的策略*/
}
.empty40{
	height:400px;
}
/*

现在，如果您查找响应式 CSS 文件，您会发现，在一些公共的声明后边（从行号 10 到 22），有各种以 '@media' 开始的区域。这就是如何编写适用于各种设备的样式。

第一个区域以 '@media (max-width: 480px)' 开始，为最大宽度为 480 像素的设备设置样式。

第二个区域以 '@media (max-width: 767px)' 开始，为最大宽度为 767像素的设备设置样式。

第三个区域以 '@media (min-width: 768px) 和 (max-width: 979px)' 开始，为最大宽度为 768 像素和最大宽度为 979 像素的设备设置样式。

下一个区域是为最大宽度为 979 像素的设备设置样式。所以是以 '@media (max-width: 979px)' 开始。

最后两个区域分别以 '@media (min-width: 980px)' 和 '@media (min-width: 1200px)' 开始，前一个是为最小宽度为 980 像素的设备设置样式，后一个是为最小宽度为 1200 像素的设备设置样式。

所以，这样样式表的基本作用就是，通过使用 'min-width' 和 'max-width' 属性，来根据设备的最大宽度和最小宽度决定使用的样式。

*/